@import "/utility.css";

main{
position: relative;
}
/* hero */
.hero {
height: auto;
}
.hero-text {
  padding: 6%;
  font-size: medium;
  margin-top: 3%;
}
.hero-text > h2 {
  margin-bottom: 10px;
  font-weight: normal;
    font-size: xx-large;

}
.hero > img {
  display: block;
  height: 70vh;
}
aside>h2{
margin-top: 3%;
}
aside>ul>li{
cursor: pointer;
}
/* amplify */
.amplify{
display: grid;
 grid: auto/auto;
 grid-gap:25px;
 margin-bottom: 8vh;
 margin:2vh 3vw;

}
.amplify>article{
background: #FFFFFF;
box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
padding:6%;
}
article>.head{
align-items: center;
margin-bottom: 15px;
}
article>.head>h3{
font-weight: normal;
}


/* media query for 1000max */
@media screen and (max-width: 1000px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }
  header {
    margin: auto;
  }
  nav {
    display: none;
    background-color: #ffffff;
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
    top:0;
    padding: 6%;
    overflow-y:scroll;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul > li {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 15%;
    font-size: medium;
  }
  .navbar {
    justify-content: space-between;
    padding: 10px 0px;
  }

  .navbar a:hover {
    color: rgb(114, 210, 235);
  }
  .menu {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .grid-container{
  flex-direction: column;
  }
  aside{
  margin-bottom: 2vh;
  text-align: center;
  }
   aside>ul{
 display: grid;
 font-size: 14px;
 grid:auto/ auto auto auto;
grid-gap:7px;
  }
  
  .hero > img {
    width: 50%;
    flex: 1;
    border-radius: 0%;
  }
}





/* media query for 700max */
@media screen and (max-width: 700px) {
 .hero {
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    padding-bottom: 8vh;
  }
  .hero-text{
    max-width: 600px;
    font-size: medium;
  }
  .hero > img {
    height: 30vh;
    width: 100%;  
}
}