@import "/utility.css";

main{
position: relative;
}
/* hero */
.hero {
  height: auto;
  justify-content: center;
  margin-bottom: 100vh;
}
.hero-text {
flex: 1;
  color: #ffffff;
  padding: 6%;
  font-size: medium;
  margin-top: 3%;
}
.hero-text > h3 {
  margin-bottom: 15px;
    font-size: xx-large;

}
.hero > img {
flex: 1;
  display: block;
  width: 85vh;
}
/* lap */
.lap {
  position: absolute;
  left: -1%;
  top: 70vh;
  transform: (-50%, -50%);
  display: grid;
 grid:auto/ auto auto;
grid-gap:25px;
  animation: slideUp 1.5s ease-in;
}
@keyframes slideUp {
  0% {
    top: 3%;
  }
  
  100% {
    top: 30%;
  }
}
.lap-head{
margin-bottom:6vh;
justify-content: space-between;
}
.lap-head > h3 {
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
}
.lap > div {
  padding: 6%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}
/* build-resource */
.build-resource{
padding: 6%;
}
.build-resource>h3{
font-weight: normal;
margin-bottom: 15px;
}



/* media query for 1600min */
@media screen and (min-width: 1600px) {
.hero{
margin-bottom: 90vh;
}
}




/* media query for 1000max */
@media screen and (max-width: 1000px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }
  header {
    margin: auto;
  }
  nav {
    display: none;
  }
  .close {
    display: block;
    margin-right: 15px;
  }
  nav {
    display: none;
    background-color: #ffffff;
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 80%;
    right: 0;
    top:0;
    padding: 6%;
    overflow-y:scroll;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul > li {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 15%;
    font-size: medium;
  }
  .navbar {
    justify-content: space-between;
    padding: 10px 0px;
  }

  .navbar a:hover {
    color: rgb(114, 210, 235);
  }
  .menu {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  .hero{
   margin-bottom: 110vh;
  }
  .hero>img{
  width: 50%;
    flex: 1;
    height: 70vh;
  }
  
  .grid-container{
  flex-direction: column;
  }
  aside{
  margin-bottom: 2vh;
  text-align: center;
  display: none;
  }
   aside>ul{
 display: grid;
 font-size: 14px;
 grid:auto/ auto auto auto;
grid-gap:7px;
  
  }
  .lap{
    top:80vh;
  }
  
  .build-resource{
padding: 6%;
  }
 
  
}


/* media query for 700max */
@media screen and (max-width: 700px) {
.hero {
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    padding-bottom: 8vh;
    height: 120vh;
    margin-bottom: 190vh;
  }
  .hero-text {
    min-width: 200px;
    font-size: medium;
  }
  .hero > img {
    height: 42vh;
    width: 90%;
  }

  .lap {
    top: 110vh;
    display: grid;
 grid:auto/ auto;
  }
.lap>div{
max-width: 700px;
}
}