@import "/utility.css";

main{
position: relative;
}
/* hero */
.hero {
  height: 75vh;
}
.hero-text {
  padding: 0px 40px;
  font-size: medium;
  margin-top: 8vh;
}
.hero-text > h2 {
  text-align: center;
  margin-bottom: 40px;
}
.hero > img {
  display: block;
  height: 100%;
}
aside>h2{
margin-top: 5vh;
}
/* cards */
article{
 margin: 3rem 5rem;
 justify-content: center;
}
article > img {
  display: block;
  flex: 1;
  height: 100%;
}
.card-text {
  flex: 1;
  padding: 2em 0em;
  padding-right: 3em;
}

.card-text > h2 {
  margin-bottom: 6vh;
}


/* media query for 1200max */
@media screen and (max-width: 1200px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }
  header {
    margin-right: 50px;
  }
  header > p {
    margin-left: auto;
  }
  nav > ul > li {
    font-size: 13px;
  }
  .hero > img {
    width: 60%;
    flex: 1;
    border-radius: 0%;
  }
  article>img{
  width: 60%;
  }
  
}



/* media query for 900max */
@media screen and (max-width: 900px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }
  header {
    margin: auto;
  }
  nav {
    display: none;
  }
  .close {
    display: block;
    margin-right: 15px;
  }
  nav ul {
    flex-direction: column;
    background-color: #ffffff;
    z-index: 4;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 200px;
    right: 0;
    padding-top: 30px;
    overflow-y: visible;
  }
  nav ul > li {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 10vh;
    font-size: medium;
  }
  .navbar {
    justify-content: space-between;
    padding: 10px 0px;
  }

  .navbar a:hover {
    color: rgb(114, 210, 235);
  }
  .menu {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  .hero {
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    padding-bottom: 8vh;
    height: 100vh;
  }
  .hero-text{
    min-width: 200px;
    font-size: medium;
  }
  .hero > img {
    height: 42vh;
    width: 100%;
  }
  .grid-container{
  flex-direction: column;
  }
  aside{
  margin-bottom: 2vh;
  text-align: center;
  }
   aside>ul{
 display: grid;
 font-size: small;
 grid:auto/ auto auto auto;
grid-gap:7px;
  }
article{    
     flex-direction: column;
    height: auto;
    margin: 3rem 1rem;
  }
  article > img {
    height: 30vh;
    width: 100%;
  }
  .card-text{
  padding-right: 0;
  }
  
}
