@import "/utility.css";

main{
position: relative;
}
/* hero */
.hero {
  height: auto;
}
.hero-text {
  padding: 6%;
  font-size: medium;
  margin-top: 3%;
}
.hero-text > h2 {
  text-align: center;
  margin-bottom: 15px;
    font-size: x-large;

}
.hero > img {
  display: block;
  height: 70vh;
}

/* cards */
article{
 margin: 2vh 3vw;
 justify-content: center;
 box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
min-height: 50vh;
}
article > img {
  display: block;
  flex: 1;
  height: 50vh;
  width: 30vw;
}
.card-text {
  flex: 1;
  padding: 6%;
}

.card-text > h2 {
  margin-bottom: 15px;
}


/* media query for 1000max */
@media screen and (max-width: 1000px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }
 header {
    margin: auto;
  }
  nav {
    display: none;
  }
  .close {
    display: block;
    margin-right: 15px;
  }
  nav {
    display: none;
    background-color: #ffffff;
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
    top:0;
    padding: 6%;
    overflow-y:scroll;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul > li {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 15%;
    font-size: medium;
  }
  .navbar {
    justify-content: space-between;
    padding: 10px 0px;
  }

  .navbar a:hover {
    color: rgb(114, 210, 235);
  }
  .menu {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  .grid-container{
  flex-direction: column;
  }
  aside{
  margin-bottom: 2vh;
  text-align: center;
  }
   aside>ul{
 display: grid;
 font-size: small;
 grid:auto/ auto auto auto;
grid-gap:7px;
  }
  .hero > img {
    width: 50%;
    flex: 1;
    border-radius: 0%;
    height: 70vh;
  }

  .card-text{
  padding-right: 2px;
  }
}



/* media query for 700max */
@media screen and (max-width: 700px) {

  .hero {
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    padding-bottom: 8vh;
  }
  .hero-text{
    min-width: 200px;
    font-size: medium;
  }
  .hero > img {
    height: 22vh;
    width: 100%;
    display: none;
  }
article{    
     flex-direction: column-reverse;
    height: 80vh;
  }
  article>img{
  height: 50vh;
  width: 100%;
  }
}